
.rpbchessboard-invisible {
	display: none;
}

.rpbchessboard-in {
	text-align: left;
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	line-height: 1.3em;
	color: #404000;
	border: solid 1px #808000;
	background-color: #ffffe0;
	padding: 8px 10px 8px;
}
