
/******************************************************************************/
/*** Miscellaneous ***/

.rpbchessboard-invisible {
	display: none;
}



/******************************************************************************/
/*** Javascript warning message and source code blocks ***/

.rpbchessboard-javascript-warning,
.rpbchessboard-in {
	text-align: left;
	font-size: 12px;
	line-height: 1.3em;
	padding: 8px 10px 8px;
	margin-top   : 5px;
	margin-bottom: 5px;
}

.rpbchessboard-javascript-warning {
	font-family: sans-serif;
	color: #800000;
	border: 1px solid #800000;
	background-color: #ffd8d8;
}

.rpbchessboard-in {
	white-space: pre-line;
	font-family: monospace;
	color: #404000;
	border: solid 1px #808000;
	background-color: #ffffe0;
}



/******************************************************************************/
/*** PGN widget enhancement ***/

.rpbchessboard-white-square,
.rpbchessboard-black-square {
	width : 1.2em;
	height: 1.2em;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid black;
}

.rpbchessboard-white-square {
	background-color: white;
}

.rpbchessboard-black-square {
	background-color: black;
}

.PgnWidget-field-Annotator {
	font-style: italic;
}

.PgnWidget-field-Result {
	font-weight: bold;
}

.rpbchessboard-game-head {
	margin-top: 5px;
}

.rpbchessboard-game-head div {
	margin-top   : 4px;
	margin-bottom: 4px;
}

.rpbchessboard-game-body {
	margin-top   : 10px;
	margin-bottom:  5px;
}
