
/******************************************************************************/
/*** Miscellaneous ***/

.PgnWidget-invisible {
	display: none;
}



/******************************************************************************/
/*** Parsing error box ***/

.PgnWidget-error {
	padding: 4px 8px 4px;
	background-color: #ffe8e8;
	border: solid 1px #a00000;
	color: #a00000;
	font-size: 90%;
}

.PgnWidget-error-title,
.PgnWidget-error-message,
.PgnWidget-error-at {
	display: block;
}

.PgnWidget-error-title {
	font-weight: bold;
	font-style: italic;
}

.PgnWidget-error-at pre {
	margin : 6px;
	padding: 10px 8px 0px;
	background-color: #ffffe0;
	color: #404000;
	font-size: 90%;
	line-height: 1em;
	white-space: pre-wrap;
}



/******************************************************************************/
/*** Navigation frame ***/

#PgnWidget-navigation-frame #PgnWidget-navigation-content {
	text-align: center;
	padding: 10px 10px 5px;
}

#PgnWidget-navigation-frame #PgnWidget-navigation-buttons {
	text-align: center;
}



/******************************************************************************/
/*** Player name fields ***/

.PgnWidget-subfield-groupTitleElo:before {
	content: " (";
}

.PgnWidget-subfield-groupTitleElo:after {
	content: ")";
}



/******************************************************************************/
/*** Move fields ***/

.PgnWidget-move {
	font-weight: bold;
	display: inline-block;
	padding-left : 1px;
	padding-right: 1px;
}

.PgnWidget-move:hover {
	text-decoration: underline;
	cursor: pointer;
}

.PgnWidget-move.PgnWidget-invisible {
	display: none;
}

.PgnWidget-variation-sub .PgnWidget-move {
	font-weight: inherit;
}

.PgnWidget-move,
.PgnWidget-commentary,
.PgnWidget-shortVariation {
	margin-right: 5px;
}

.PgnWidget-move:last-child,
.PgnWidget-commentary:last-child,
.PgnWidget-shortVariation:last-child {
	margin-right: 0px;
}

.PgnWidget-shortVariation:before {
	content: "(";
}

.PgnWidget-shortVariation:after {
	content: ")";
}

.PgnWidget-longCommentary,
.PgnWidget-longVariation.PgnWidget-variation-sub {
	margin-top   : 5px;
	margin-bottom: 5px;
}

.PgnWidget-longVariation.PgnWidget-variation-sub {
	margin-left: 20px;
}
