
/******************************************************************************/
/*** Warning message in case of inactivated javascript ***/





/******************************************************************************/
/*** Style for the PGN template ***/



/******************************************************************************/
/*** Reset the formatting by some templates to standard HTML tags ***/
/*
.entry-content   .jsChessLib-chessboard img,
.comment-content .jsChessLib-chessboard img,
.widget          .jsChessLib-chessboard img {
	box-shadow: none;
	border    : 0 none;
	margin-top   : 0px;
	margin-left  : 0px;
	margin-bottom: 0px;
	margin-right : 0px;
}
*/