
div.rpbchessboard-javascript-warning {
	padding-top   : 2px;
	padding-bottom: 3px;
	padding-left  : 5px;
	background-color: #ffd8d8;
	color: #800000;
	border: 1px solid #800000;
}

span.rpbchessboard-white-square {
	background-color: white;
	padding-left: 11px;
	border: 1px solid black;
}

span.rpbchessboard-black-square {
	background-color: black;
	padding-left: 11px;
	border: 1px solid black;
}

div.rpbchessboard-game-head div {
	margin-top   : 4px;
	margin-bottom: 4px;
}

div.jsChessLib-field-Annotator {
	font-style: italic;
}

div.rpbchessboard-game-head {
	margin-top: 10px;
}

div.rpbchessboard-game-body {
	margin-top: 15px;
}
